* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

header,
footer {
  width: 100%;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article,
aside {
  overflow-y: auto;
}

article {
  flex: 2;
}

aside {
  flex: 1;
}
